### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [223]:
# Dependencies and Setup
import pandas as pd

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("Resources/purchase_data.csv")

## Player Count

* Display the total number of players

In [224]:
uniquePeeps = purchase_data.drop_duplicates(subset="SN")
print(f"Total Number of Players: {len(uniquePeeps.index)}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
numItems = purchase_data['Item ID'].nunique()
avgPrice = '${:,.2f}'.format(purchase_data["Price"].mean())
numPurchases = len(purchase_data.index)
revenue = '${:,.2f}'.format(purchase_data["Price"].sum())
avgAge = int(uniquePeeps["Age"].mean())

In [226]:
summary_df = pd.DataFrame({
    "Number of Unique Items":[numItems],
    "Average Price":[avgPrice],
    "Number of Purchases":[numPurchases],
    "Total Revenue":[revenue],
    "Average Age of Purchasers":[avgAge]
})
summary_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue,Average Age of Purchasers
0,179,$3.05,780,"$2,379.77",22

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [227]:
genderPer = uniquePeeps["Gender"].value_counts(normalize=True)
genderCou = uniquePeeps["Gender"].value_counts()
gender_df = pd.concat([genderCou, genderPer], axis=1, keys=["Total Count","Percentage of Players"])
gender_df["Percentage of Players"] = ['{0:.2f}%'.format(x * 100) for x in genderPer.values]
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [228]:
genders = purchase_data.groupby("Gender")
purchasing_df = pd.DataFrame({
    "Purchase Count": genders["Purchase ID"].count(),
    "Average Purchase Price": ['${:,.2f}'.format(x) for x in genders["Price"].mean()],
    "Total Purchase Value": ['${:,.2f}'.format(y) for y in genders["Price"].sum()],
})
purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [229]:
bins = [0,10,15,20,25,30,35,40,max(purchase_data["Age"])]
labels = ["<=10","10-15","15-20","20-25","25-30","30-35","35-40",">40"]
uniquePeeps["Age Group"] = pd.cut(uniquePeeps["Age"], bins, labels=labels, include_lowest=True)
ageCount = uniquePeeps["Age Group"].value_counts()
agePerc = uniquePeeps["Age Group"].value_counts(normalize=True)
ages_df = pd.concat([ageCount, agePerc], axis=1, keys=["Total Count","Percentage of Players"])
ages_df["Percentage of Players"] = ['{0:.2f}%'.format(x * 100) for x in agePerc.values]
ages_df.sort_index()

       Total Count Percentage of Players
<=10            24                 4.17%
10-15           41                 7.12%
15-20          150                26.04%
20-25          232                40.28%
25-30           59                10.24%
30-35           37                 6.42%
35-40           26                 4.51%
>40              7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [230]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)
ages = purchase_data.groupby("Age Group")
agePurchase_df = pd.DataFrame({
    "Purchase Count": ages["Purchase ID"].count(),
    "Average Purchase Price": ['${:,.2f}'.format(x) for x in ages["Price"].mean()],
    "Total Purchase Value": ['${:,.2f}'.format(y) for y in ages["Price"].sum()],
})
agePurchase_df

           Purchase Count Average Purchase Price Total Purchase Value
Age Group
<=10                   32                  $3.40              $108.96
10-15                  54                  $2.90              $156.60
15-20                 200                  $3.11              $621.56
20-25                 325                  $3.02              $981.64
25-30                  77                  $2.88              $221.42
30-35                  52                  $2.99              $155.71
35-40                  33                  $3.40              $112.35
>40                     7                  $3.08               $21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [231]:
spending = purchase_data.groupby("SN")["Price"]
spending_df = pd.DataFrame({
    "Purchase Count": spending.count(),
    "Average Purchase Price": spending.mean(),
    "Total Purchase Value": spending.sum(),
})
spending_df = spending_df.sort_values("Total Purchase Value", ascending=False).reset_index()
spending_df["Total Purchase Value"] = spending_df["Total Purchase Value"].map('${:,.2f}'.format)
spending_df["Average Purchase Price"] = spending_df["Average Purchase Price"].map('${:,.2f}'.format)
spending_df.head()

            SN  Purchase Count Average Purchase Price Total Purchase Value
0    Lisosia93               5                  $3.79               $18.96
1  Idastidru52               4                  $3.86               $15.45
2   Chamjask73               3                  $4.61               $13.83
3       Iral74               4                  $3.40               $13.62
4  Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [242]:
justItemizeIt = purchase_data[["Item ID","Item Name","Price"]]
itemGroups = justItemizeIt.groupby(["Item ID","Item Name"])
items_df = pd.DataFrame({
    "Purchase Count": itemGroups["Item ID"].count(),
    "Item Price":itemGroups["Price"].mean(),
    "Total Purchase Value": itemGroups["Item ID"].sum()
})
items_df = items_df.sort_values("Purchase Count", ascending=False).reset_index().set_index("Item ID")
items_df["Total Purchase Value"] = items_df["Total Purchase Value"].map('${:,.2f}'.format)
items_df["Item Price"] = items_df["Item Price"].map('${:,.2f}'.format)
items_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,"$1,196.00"
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,"$2,136.00"
145,Fiery Glass Crusader,9,$4.58,"$1,305.00"
132,Persuasion,9,$3.22,"$1,188.00"
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$972.00

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80